body{
    background-color: #e6e6e6;
    margin: 50px;
}

.navbar-expand-lg{
    background-color: orange;
}
/*div:nth-of-type(ul) {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*align-items: center;*/
/*    margin: 10px;*/



/*}*/
/*.pic-footer{*/
/*display: flex;*/
/*    align-content: flex-start;*/
    /*align-self: baseline;*/
/*}*/
.work {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /*flex-grow: 2;*/
}
h5{
    display: inline;
   margin: 0px;
    padding: 0px;
}
.work-sm{
    display: flex;
    list-style: none;
    flex-direction: row;
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
    align-content: flex-start;
    margin: 0px;
    padding: 0px;
    /*height: 50px;*/
}
.work-sm li{
    list-style-type: none;
    text-indent: 0px;
    margin: 0px;
    padding: 0px;
}
#design {
    display: flex;
    color: white;
    background-color: #e6563b;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    align-items: center;
    justify-content: center;
    border: white solid 10px;
    margin: 50px;
}
#design-sm {
    display: flex;
    color: black;
    background-color: #e6563b;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    /*border: white solid 10px;*/
    /*margin: 50px;*/
}
#develop {
    display: flex;
    color: white;
    background-color: #eb9d3a;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    align-items: center;
    justify-content: center;
    border: white solid 10px;
    margin: 50px;
}
#develop-sm {
    display: flex;
    color: black;
    background-color: #eb9d3a;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    /*border: white solid 10px;*/
    /*margin: 50px;*/
}
#support {
    display: flex;
    color: white;
    background-color: #7cb06c;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    align-items: center;
    justify-content: center;
    border: white solid 10px;
    margin: 50px;
}
#support-sm {
    display: flex;
    color: black;
    background-color: #7cb06c;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    /*border: white solid 10px;*/
    /*margin: 50px;*/
}
#host {
    display: flex;
    color: white;
    background-color: #00aba9;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    align-items: center;
    justify-content: center;
    border: white solid 10px;
    margin: 50px;
}
#host-sm {
    display: flex;
    color: black;
    background-color: #00aba9;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    /*border: white solid px;*/
    /*margin: 50px;*/
}
@media screen and (min-width: 576px) {

    /*.work {*/
    /*    display: flex;*/
    /*    list-style: none;*/
    /*    flex-wrap: wrap;*/
    }
    @media screen and (min-width: 768px) {

        /*.work {*/
        /*    display: flex;*/
        /*    list-style: none;*/
        /*    flex-wrap: wrap;*/
        }
/*}*/
hr{
    margin: 0 100px;
}
h6{

}
.pic{
    /*width: 100%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    padding: 0;

}
@media (max-width: 576px) {

    /*.work {*/
    /*    display: flex;*/
    /*    list-style: none;*/
    /*    flex-wrap: wrap;*/
    }
